
body {
    color: white;
    font-family: Arial, sans-serif;
    background-image: url('./photos/background.jpg');
    background-position: center;  /* Центрирует изображение */
    background-repeat: no-repeat;  /* Запрещает повторение изображения */
    overflow: hidden;
}

.all {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background {
    padding: 300px;
    z-index: -1;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff */
  
.txtsingin {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Source Code Pro', monospace; /* Изменение шрифта */
    font-size: 40px; /* Изменение размера шрифта */
    text-align: center; /* Если текст нужно центрировать */
    word-spacing: normal;
    letter-spacing: normal;
    white-space: nowrap;

}



/* ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff */
  
.login-username {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.2);
    font-family: 'Source Code Pro', monospace; /* Изменение шрифта */
    font-size: 20px; /* Изменение размера шрифта */
    text-align: center;
}

.login-username::placeholder {
    color: white;  /* Устанавливает чёрный цвет */
    font-weight: bold;  /* Устанавливает жирное начертание */
    text-align: center;
    font-family: 'Source Code Pro', monospace; /* Изменение шрифта */
    font-size: 20px; /* Изменение размера шрифта */
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.user-ico {
    color: white;
    position: fixed;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 3px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; /* Установи нужную ширину */
    height: 50px; /* Установи нужную высоту */
}




/* ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff */

.login-password {
    color: white;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.2);
    font-family: 'Source Code Pro', monospace; /* Изменение шрифта */
    font-size: 20px; /* Изменение размера шрифта */
    text-align: center;
}

.login-password::placeholder {
    color: white;  /* Устанавливает чёрный цвет */
    font-weight: bold;  /* Устанавливает жирное начертание */
    text-align: center;
    font-family: 'Source Code Pro', monospace; /* Изменение шрифта */
    font-size: 20px; /* Изменение размера шрифта */
}

.password-ico {
    color: white;
    position: fixed;
    top: 55%;
    left: 20%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 3px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; /* Установи нужную ширину */
    height: 50px; /* Установи нужную высоту */
}



#toggle-password {
    position: fixed;
    top: 53.5%;
    left: 65%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background: none;
    border: none;
}
  
#eye-icon {
    position: fixed;
    width: 20px; /* Регулируй размер изображения */
    height: 20px;
    justify-content: center;
    align-items: center;
}
  

/* ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff */

.sign-up {
    cursor: pointer;
    color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px 40px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.2);
    font-family: 'Source Code Pro', monospace; /* Изменение шрифта */
    font-size: 20px; /* Изменение размера шрифта */
}

.sign-up:hover {
    padding: 11px 41px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    
}

.reg {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.reg a {
    color:bisque;  /* Цвет ссылки */
    text-decoration: none;  /* Убирает подчеркивание */
}

.reg a:hover {
    color:darkgray;  /* Цвет при наведении */
    text-decoration: underline;  /* Подчеркивание при наведении (по желанию) */
}